body{
    font-family: sans-serif;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
.header{
    background-color: aqua;
}
.services{
    background-color: azure;
    display: flex;
    justify-content: space-evenly;
    text-align: justify;
}
.noticias{
    background-color: burlywood;
    display: flex;
    justify-content: space-evenly;
    text-align: justify;
}
.miembros{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    text-align: justify;
}
.footer{
    background-color: coral;
}
.barra-superior{
    display: flex;
    align-items: center;
    height: 100px;

}
.titulo-principal{
    width: 50%;
}
.contenedor-menu{
    width: 50%;
}
.menu-principal{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
.menu-principal__item{
    font-size: 20px;
    text-decoration: underline;
}
.baner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.baner__titulo{
    position: absolute;
    color: white;
}
.baner__imagen{

}
.servicios__contenedor{

}
.noticia{
    display: flex;
}
